

/*   https://www.w3schools.com/css  */


/*   
  CSS構文
  CSSセレクター

  セレクターは、スタイルを設定するHTML要素を指します。

  宣言ブロックには、セミコロンで区切られた1つ以上の宣言が含まれています。

  各宣言には、コロンで区切られたCSSプロパティ名と値が含まれます。

  複数のCSS宣言はセミコロンで区切られ、宣言ブロックは中括弧で囲まれています。
*/

div {
    padding: 70px;
    border: 1px solid #4CAF50;
  }
  
/* この例では、すべての<p>要素が中央揃えになり、テキストの色が赤になります。  */
/*   例の説明
p CSSのセレクターです（スタイルを設定するHTML要素<p>を指します）。
colorはプロパティであり、redはプロパティ値です
text-alignはプロパティであり、centerはプロパティ値です  */

p {
  color: red;
  text-align: center;
}



/*   CSSセレクターは、スタイルを設定するHTML要素を選択します。

CSSセレクター
CSSセレクターは、スタイルを設定するHTML要素を「検索」（または選択）するために
使用されます。

CSSセレクターは次の5つのカテゴリに分類できます。

単純なセレクター（名前、ID、クラスに基づいて要素を選択します）
コンビネータセレクター（要素間の特定の関係に基づいて要素を選択します）
疑似クラスセレクター（特定の状態に基づいて要素を選択します）
疑似要素セレクター（要素の一部を選択してスタイルを設定する）
属性セレクター（属性または属性値に基づいて要素を選択します）
このページでは、最も基本的なCSSセレクターについて説明します。  */

/*   CSS要素セレクター
要素セレクターは、要素名に基づいてHTML要素を選択します。
ここでは、ページ上のすべての<p>要素が中央揃えになり、テキストの色が赤になります。   */

p {
  text-align: center;
  color: red;
}

/*   CSSIDセレクター
idセレクターは、HTML要素のid属性を使用して、特定の要素を選択します。
要素のIDはページ内で一意であるため、IDセレクターを使用して1つの一意の要素を選択します。
特定のIDを持つ要素を選択するには、ハッシュ（＃）文字を記述し、その後に要素のIDを記述します。  */

#para1 {
  text-align: center;
  color: blueviolet;
}
/*   CSSクラスセレクター
クラスセレクターは、特定のクラス属性を持つHTML要素を選択します。
特定のクラスの要素を選択するには、ピリオド（。）文字を入力し、その後にクラス名を入力します。  */

.center {
  text-align: center;
  color: red;
}

/*   特定のHTML要素のみがクラスの影響を受けるように指定することもできます。
  この例では、class = "center"の<p>要素のみが青で中央揃えになります：   */

  p.center {
    text-align: center;
    color: blue;
  }
/*   HTML要素は、複数のクラスを参照することもできます。
      この例では、<p>要素はclass = "center"およびclass = "large"に従ってスタイル設定されます。   */
      p.center {
        text-align: center;
        color: goldenrod;
      }
      
      p.large {
        font-size: 300%;

/*   ユニバーサルセレクター（*）は、ページ上のすべてのHTML要素を選択します。  */
* {
  text-align: center;
  color: blue;
}

/*   CSSグループ化セレクター
グループ化セレクターは、同じスタイル定義を持つすべてのHTML要素を選択します。
次のCSSコードを見てください（h1、h2、およびp要素のスタイル定義は同じです）。  */
h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
  color: red;
}
/*  上記と同じです   */
h1, h2, p {
  text-align: center;
  color: red;
}
/*   CSSコメント
コメントはコードを説明するために使用され、後日ソースコードを編集するときに役立つ場合があります。
コメントはブラウザによって無視されます。
CSSコメントは<style>要素内に配置され、次で始まり、次/*で終わります*/

/* This is a single-line comment */
p {
  color: red;
}

p {
  color: red;  /* Set text color to red */
}
/* This is
a multi-line
comment */

p {
  color: red;
}


